# Eclipse
.classpath
.project
.settings/

# Intellij
.idea
*.ml
out/
build/

# Maven
target/
gen/
bin/

# Compiled class file
*.class

# Log file
*.log


# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar




